<%= form_for event, :url=>event_path(event), :remote=>true, :html=>{:class=>"form-horizontal", :id=>dom_id(event)+"_form"} do |f| %>
  <div class="form-group">
    <%= f.label :name, :class=>"col-md-2 visible-md visible-lg control-label" %>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <%= f.text_field :name, :value=>event.name, :class=>"col-sm-10 form-control", :autofocus => true, :placeholder=>"Name" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class=>"col-md-2 visible-md visible-lg control-label" %>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <%= f.text_area :description, :class=>"col-sm-10 form-control", :autofocus => true, :placeholder=>"Description" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_date, :class=>"col-md-2 visible-md visible-lg control-label" %>
    <div class="col-md-10 col-sm-12 col-xs-12">
      <%= f.text_field :due_date, :class=>"col-sm-10 form-control", :autofocus => true, :placeholder=>"Due Date" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <button type="button" class="btn btn-default form-control" data-dismiss="modal">Close</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.submit :class=>"form-control btn btn-success", "data-loading-text"=> "Loading..." %>
    </div>
  </div>
  <div class="form-group"></div>
<% end %>
