
<%= render 'events/new' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= event.slug %></td>
      <td><%= event.due_date %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
